In [12]:
import psycopg2
import pandas as pd
import numpy as numpy
import configparser

import matplotlib.pyplot
%matplotlib inline

In [29]:
config = configparser.ConfigParser()
config.read('../config/private/credentials.private.ini')

['../config/private/credentials.private.ini']

In [14]:
remote_host = 'aact-db.ctti-clinicaltrials.org'
remote_db = 'aact'
remote_user = config['Remote']['User']
remote_pw = config['Remote']['Password']

In [15]:
remote_user

'rmfeng'

In [16]:
remote_pw

'cxc4YKz3f0KH'

In [17]:
conn = psycopg2.connect(host=remote_host,
                        database=remote_db, 
                        user=remote_user, 
                        password=remote_pw)

sql = """
SELECT COUNT(*)
FROM studies
"""

df = pd.read_sql(sql, conn)
conn.close()

In [18]:
df

    count
0  317744

In [30]:
local_host = 'localhost'
local_db = 'aact_back'
local_user = config['Local']['User']
local_pw = config['Local']['Password']

In [31]:
conn = psycopg2.connect(host=local_host,
                        database=local_db, 
                        user=local_user, 
                        password=local_pw)

sql = """
SELECT COUNT(*)
FROM studies
"""

df = pd.read_sql(sql, conn)
conn.close()

In [32]:
df

    count
0  317744