In [1]:
import pandas as pd
import numpy as numpy
from importlib import reload
from tqdm import tqdm_notebook as tqdm
import time

import pdaactconn as pc
from trialexplorer import AACTStudySet

import matplotlib.pyplot
%matplotlib inline

In [2]:
reload(AACTStudySet)

tested_dims = ['result_groups',
               'outcomes', 
               'outcome_counts',
               'outcome_measurements']

conn = pc.AACTConnection(source=pc.AACTConnection.REMOTE)
ss = AACTStudySet.AACTStudySet(tqdm_handler=tqdm)
ss.add_constraint("start_date >= '2018-06-30'")
ss.add_constraint("start_date <= '2018-12-31'")
ss.load_studies()

ss.add_dimensions(tested_dims)

12790 studies loaded!
Successfuly added these 3 dimensions: ['result_groups', 'outcomes', 'outcome_counts']
Failed to add these 0 dimensions: []

In [3]:
ss.refresh_dim_data()

HBox(children=(IntProgress(value=0, max=26), HTML(value='')))

Syncing the temp table temp_cur_studies in 26 chunks x 500 records each

Creating index on the temp table
 - Loading dimension result_groups
 -- Loading raw data
 -- Creating memory pointers for the .data dictionary keyed by nct_id
 - Loading dimension outcomes
 -- Loading raw data
 -- Creating memory pointers for the .data dictionary keyed by nct_id
 - Loading dimension outcome_counts
 -- Loading raw data
 -- Creating memory pointers for the .data dictionary keyed by nct_id

In [4]:
for k, cur_dim in ss.dimensions.items():
    print('***', k)
    display(cur_dim.raw_data.head(2))
    print(cur_dim.raw_data.shape)
    print('\n')

*** result_groups

,id,nct_id,ctgov_group_code,result_type,title,description
0,14105968,NCT02610972,B3,Baseline,Total,Total of all reporting groups
1,14105969,NCT02610972,B2,Baseline,CLINICALLY HEALTHY,Women with a delivery of a healthy normal baby...

(510, 6)


*** outcomes

,id,nct_id,outcome_type,title,description,time_frame,population,anticipated_posting_date,anticipated_posting_month_year,units,units_analyzed,dispersion_type,param_type
0,4265972,NCT02610972,Primary,Prevalence of Urine Congophilia Using Congo Re...,Prevalence of urine congophilia using Congo Re...,within 72 hours of urine sample collection,,None,,Participants,,,Count of Participants
1,3947130,NCT03196349,Other Pre-specified,Major Bleeding,Major bleeding,Randomization to 12 months,,None,,Participants,,,Count of Participants

(157, 13)


*** outcome_counts

,id,nct_id,outcome_id,result_group_id,ctgov_group_code,scope,units,count
0,9298768,NCT03628599,3944249,13045835,O2,Measure,Eyes,36
1,9298768,NCT03628599,3944249,13045835,O2,Measure,Eyes,36

(338, 8)