In [7]:
import psycopg2
import pandas as pd
import numpy as numpy
import configparser

import matplotlib.pyplot
%matplotlib inline

In [32]:
config = configparser.ConfigParser()
config.read('../config/private/credentials.key')

['../config/private/credentials.key']

In [33]:
remote_host = 'aact-db.ctti-clinicaltrials.org'
remote_db = 'aact'
remote_user = config['Remote']['User']
remote_pw = config['Remote']['Password']

In [34]:
conn = psycopg2.connect(host=my_host,
                        database=my_db, 
                        user=my_user, 
                        password=my_pw)

sql = """
SELECT COUNT(*)
FROM studies
"""

df = pd.read_sql(sql, conn)
conn.close()

In [35]:
df

    count
0  316970

In [36]:
local_host = 'localhost'
local_db = 'aact'
local_user = config['Local']['User']
local_pw = config['Local']['Password']

In [43]:
conn = psycopg2.connect(host=local_host,
                        database=local_db, 
                        user=local_user, 
                        password=local_pw)

sql = """
SELECT COUNT(*)
FROM studies
"""

df = pd.read_sql(sql, conn)
conn.close()

In [44]:
df

    count
0  316970

In [48]:
conn = psycopg2.connect("host='%s' dbname='%s' user='%s' password='%s'" % (local_host, local_db, local_user, local_pw))

sql = """
SELECT COUNT(*)
FROM studies
"""

df = pd.read_sql(sql, conn)
conn.close()

In [50]:
conn = psycopg2.connect(host=local_host,
                        database=local_db, 
                        user=local_user, 
                        password=local_pw)


print(conn.closed)
conn.close()

0